<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
    </head>

    <body>
        <p><small>TRadeX</small></p>
        <small>
            WE STARTED THE PROJECT "TRadeX" TO HELP PEOPLE WHO HAVE LESS KNOWLEDGE ABOUT STOCK MARKET AND FOR THOSE WHO DON'T HAVE TIME TO STUDY THE STOCK MARKET AND KNOW HOW IT WORKS, AND DON'T KNOW HOW TO SELECT A STOCK(BY FUNDAMENTAL ANALYSIS) SO "TRadeX" DO THIS FOR THEM "TRadeX" FILTER OUT THE BEST STOCKS FOR THEM ON THE BASIS OF THERE FUNDAMENTALS AND TECHNICALS, HOW THE STOCK IS PERFORMING ON THE TIMEFRAMES BASED ON THE USER's INPUT.

      <p>WE ARE BUILDING THE PRODUCT ON THE FRAMEWORK "DJANGO" WHICH IS A PYTHON FRAMEWORK, Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.
-->MOST IMPORTANT: WE DECIDED TO WORK ON DJANGO BECAUSE THE WEB-APP WE ARE BUILDING WILL REMAIN PLATFORM INDEPENDENT.</p>

<p>WE ARE WORKING ON THE UI TO MAKE OUR PRODUCT MORE APPEALING TO USER AND MOST IMPORTANT CLEAN UI SO THAT THE USER DON'T STRUGGLE.</p>
<p>FRONT-END: THINGS WE ARE FOCUSING ON</p>
<p>1--> CLEAN UI.</p>
<p>2--> EVERY FEATURE SHOULD BE EASILY ACCESSIBLE TO USER.</p>
<p>3--> CONTINUOUSLY UPDATING THE CHANGES.</p>
<p>4--> RESPONSIVE SO THAT USER CAN ACCESS OUR WEBAPP FROM ANY DEVICE.</p>
        </small>
    </body>
</html>